@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: iransans;
  outline: none;
}

#__nuxt {
  @apply overflow-x-hidden flex flex-col justify-start items-start bg-slate-100;
}

/* Firefox scrollbar customization */
* {
  scrollbar-width: none;
}
